{% extends "complaints/base_form.html" %} 

{% block form-content %}
<h3 class="mb-4">Add Remark</h3>
<form method="post" class="signup-form my-5">
  {% csrf_token %}

  <div class="form-group">
    {% if form.complaint.errors %}
    <div class="alert alert-danger" role="alert">{{ form.complaint.errors }}</div>
    {% endif %} {{form.complaint.label_tag}} {{ form.complaint }}
  </div>
  <div class="form-group">
    {% if form.content.errors %}
    <div class="alert alert-danger" role="alert">
      {{ form.content.errors }}
    </div>
    {% endif %} {{form.content.label_tag}} {{ form.content }}
  </div>
  <div class="form-group">
      {% if form.attachment_type.errors %}
      <div class="alert alert-danger" role="alert">
        {{ form.attachment_type.errors }}
      </div>
      {% endif %}
      {{ form.attachment_type.label_tag }}
      {{ form.attachment_type }}
  </div>
  <div class="form-group">
    {% if form.attachmrents.errors %}
    <div class="alert alert-danger" role="alert">
      {{ form.attachments.errors }}
    </div>
    {% endif %} {{form.attachments.label_tag}} {{ form.attachments }}
  </div>
  <div class="form-group">
    {% if form.remark_targeted_department.errors %}
    <div class="alert alert-danger" role="alert">
      {{ form.remark_targeted_department.errors }}
    </div>
    {% endif %} 
    {{form.remark_targeted_department.label_tag}} 
    {{form.remark_targeted_department }}
  </div>
  <div class="form-group">
    {% if form.remark_targeted_personnel.errors %}
    <div class="alert alert-danger" role="alert">
      {{ form.remark_targeted_personnel.errors }}
    </div>
    {% endif %} 
    {{form.remark_targeted_personnel.label_tag}} 
    {{ form.remark_targeted_personnel}}
  </div>
  <div class="form-group">
    {% if form.status.errors %}
    <div class="alert alert-danger" role="alert">{{ form.status.errors }}</div>
    {% endif %} {{form.status.label_tag}} {{ form.status }}
  </div>
  <div class="form-group d-flex justify-content-end mt-5">
    <abbr title="register">
      <button type="submit" class="btn btn-primary submit">
        <span class="fa fa-plus"></span>
      </button>
    </abbr>
  </div>
</form>
{% endblock form-content %}
