{% extends "complaints/base.html" %} 
{% load static %} 

{% block content %}

<section>
    <div class="container p-3">
      <section class="border p-4 mb-4 d-flex flex-column shadow">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
            <div class="col-md-4 d-flex">
              <button class="btn rounded text-white bg-secondary btn-sm shadow-sm" >
                <a
                  href="{% url 'complaints:user_complaints_display' %}"
                  class="nav-link"
                  >MY COMPLAINTS</a
                >
              </button>
            </div>
            <form method="get">
              <div class="input-group">
                <div class="form-outline">{{ user_search_form.search_query }}</div>
                <button id="search-button" type="submit" class="btn rounded btn-secondary">
                  <i class="fa fa-search" aria-hidden="true"></i>
                </button>
              </div>
            </form>
          </div>
        </nav>
      </section>

      <div class="list-group border shadow p-3">
        <a href="#" class="list-group-item bg-secondary mb-2 border-secondary rounded shadow list-group-item-action active">
          List of Complaints
        </a>
        <table class="table table-hover" style="cursor: pointer;">
          <thead>
            <tr>
              <th scope="col">TILE</th>
              <th scope="col">COMPLAINANT</th>
              <th scope="col">TARGETED PETSONNEL</th>
              <th scope="col">TARGETED DEPARTMENT</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            {% for complaint in complaints %}
              {% if complaint.targeted_personnel == request.user %}
                {% if latest_status == 'closed' %}
                  
                    <tr class="list-group-item list-group-item-action">
                      <td>{{complaint.title|upper}} <small>closed</small></td>
                      <td>{{ complaint.complainant|capfirst }}</td>
                      <td>{{ complaint.targeted_personnel|capfirst }}</td>
                      <td>{{ complaint.targeted_department|capfirst }}</td>
                      <td><a title="view details" href="{% url 'complaints:complaint_details' complaint.pk %}"><i class="fa fa-eye" style="color: #6c757d;" aria-hidden="true"></i></a></td>
                    </tr>

                {% else %}
                  
                    <tr>
                      <td>{{complaint.title|upper}}</td>
                      <td>{{ complaint.complainant|capfirst }}</td>
                      <td>{{ complaint.targeted_personnel|capfirst }}</td>
                      <td>{{ complaint.targeted_department|capfirst }}</td>
                      <td><a title="view details" href="{% url 'complaints:complaint_details' complaint.pk %}"><i class="fa fa-eye" style="color: #6c757d;" aria-hidden="true"></i></a></td>
                    </tr>
                
                {% endif %}
              {% else %}
                {% if latest_status == 'closed' %}
                  
                    <tr>
                      <td>{{complaint.title|upper}} <small>closed</small></td>
                      <td>{{ complaint.complainant|capfirst }}</td>
                      <td>{{ complaint.targeted_personnel|capfirst }}</td>
                      <td>{{ complaint.targeted_department|capfirst }}</td>
                      <td><a title="view details" href="{% url 'complaints:complaint_details' complaint.pk %}"><i class="fa fa-eye" aria-hidden="true"></i></a></td>
                    </tr>
                  
                {% else %}
                  
                    <tr>
                      <td>{{complaint.title|upper}}</td>
                      <td>{{ complaint.complainant|capfirst }}</td>
                      <td>{{ complaint.targeted_personnel|capfirst }}</td>
                      <td>{{ complaint.targeted_department|capfirst }}</td>
                      <td><a title="view details" href="{% url 'complaints:complaint_details' complaint.pk %}"><i class="fa fa-eye" style="color: #6c757d;" aria-hidden="true"></i></a></td>
                    </tr>
                  
                {% endif %}
              {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
  </div>
</section>

{% endblock content %}
