{% extends "complaints/base.html" %}
{% load static %}

{% block content %}

    <!-- ======= List of the Employees complaints ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container">

        <div class="section-title">
          <h2>" {{complaint.title}} "  Complaints  Details</h2>
          <p>Details on the " {{complaint.title}} " complaint and all the remarks added onto it.</p>
        </div>
        <h1>TITLE: {{ complaint.title }}</h1>
        <p>DESCROPTIONS: {{ complaint.description }}</p>
        <p>COMPLAINANT: {{ complaint.complainant }}</p>
        <p>TO_DEPARTMENT: {{ complaint.targeted_department }}</p>
        <p>TO USER: {{ complaint.targeted_personnel }}</p>
        <p>STATUS: {{ latest_status }}</p>

        <h3>Remarks:</h3>
        <ul>
            {% for remark in remarks %}
                <li>
                    <p>Remark by: {{ remark.respondent }}</p>
                    <p>DESCROPTIONS: {{ remark.content }}</p>
                    <p>TO_DEPARTMENT: {{ remark.remark_targeted_department }}</p>
                    <p>TO USER: {{ remark.remark_targeted_personnel }}</p>
                    <p>STATUS: {{ latest_status }}</p>
                </li>
            {% empty %}
                <li>No remarks for this complaint.</li>
            {% endfor %}
        </ul>

        {% if latest_status != "Closed" %}
            <button class="btn btn-dark text-light btn-sm">
              <a href="{% url 'complaints:add_remark' %}" class="nav-link text-light">Add Remark</a>
            </button>
        {% else %}
            <p style="font-weight: bold;">NOTE: This complaint is closed and no further remarks can be added.</p>
        {% endif %}

      </div>
    </section><!-- End List of the Employees complaints -->

{% endblock content %}
